.breed-item{
    width: calc(100% - 7px);
    margin: 0;
    padding: 15px 0;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 0 1px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 0 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 3px;

    &:first-child{
        margin-top: 0;
    }

    &:hover{
        background-color: #eee;
    }

    &-name{
        text-transform: capitalize;
        font-weight: lighter;
    }
}