.subBreed-item{
    width: calc(100% - 7px);
    margin: 10px 0;
    color: #339CC9;
    text-transform: capitalize;
    font-size: 0.8em;
    cursor: pointer;
    transition: opacity .2s;

    &:last-child{
        margin-bottom: 20px;
    }

    &:hover{
        opacity: 0.5;
    }
}