.app {
  text-align: center;

  &-logo{
    height: 120px;
  }

  &-header {
    background-color: #99D3ED;
    height: 150px;
    padding: 20px;
    color: white;
    height: 20%;
  }

  &-subheader {
    width: 100%;

    p {
      font-weight: bolder;
      font-size: 0.9em;
      color: #505050;

      .subBreed-color{
        color: #339CC9;
      }
    }
  }

  &-title {
    font-size: 1.3em;
    font-weight: lighter;
    text-transform: uppercase;
  }

  &-container {
    width: 100%;

    &-left {
      width: 60%;
      float: left;
      padding: 20px;
      box-sizing: border-box;

      .breeds-container {
        width: 100%;

        &-header{
          width: 100%;
          padding: 10px 20px;
          box-sizing: border-box;
        }

        &-list {
          width: 100%;
          max-height: 400px;
          overflow-y: auto;

          ul {
            margin-top: 2px;
            list-style-type: none;
          }

          &::-webkit-scrollbar-track
          {
            -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.3);
            border-radius: 7px;
            background-color: transparent;
          }

          &::-webkit-scrollbar
          {
            width: 6px;
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb
          {
            border-radius: 7px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #8a8a8a;
            transition: background-color .2s;
            cursor: pointer;

            &:hover
            {
              background-color: #1a1a1a;
            }
          }
        }
      }
    }

    &-right {
      width: 40%;
      overflow: hidden;
      padding: 20px;
      box-sizing: border-box;
      position: relative;

      .dog-image-container {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: #CCCCCC;
        background-size: cover;
        transition: background-image .2s ease;
      }
    }
  }
}